
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./bg/bg1.png);
    background-repeat: repeat;
    font-family:"Century Gothic", sans-serif;

}

.firstPage {
    background-image: url(./spImg/topPageSp.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: top center;
    /* background-size: contain; */
    background-size: 100%;
}

header {
    text-align: center;
}

.headerLogo {
    width: 60%;
}

.top {
    margin-top: -13%;
    text-align: center;
    width: 100%;
    margin-left: -20px;
    /* margin-left: 30px; */
}

.reason {
    background-repeat: no-repeat;
    text-align: center;
}

.reasonImg {
    margin-top: -70px;
    width: 70%;
}

.reasonImg2 {
    width: 90%;
}

.reasonDetail {
    text-align: center;
}

.reasonDetailTitle {
    width: 90%;
    padding-top: 5%;
}

.detail {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.detailBox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px;
    margin-bottom: 5%;
}

.detailBox:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.detailImg:nth-child(2n+1) {
    width: 35%;
}

.detailText:nth-child(2n+1) {
    z-index: 2;
}

.detailImg {
    width: 35%;
}

.detailImg img {
    vertical-align: middle;
    width: 100%;
    height:auto;
}

.detailText {
    width:65%;
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #444444;
}

.detailTitle {
    display: flex;
    align-items: flex-end;
}

.detailTitle h3 {
    padding-left: 10px;
    font-size: 100%;
}

.detailText p {
    padding-top: 20px;
    font-size: 80%;
}

.detailNumber {
    width: 20%;
}

.customerVoice {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.woman {
    background-image: url(./spImg/custmerVoiceSp.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center 10px;
    margin: 0 auto;
    text-align: center;
    padding-top: 85%;
    z-index: 100;
}

.caseBox {
    background-image: url(./bg/bg3.png);
    background-repeat: repeat;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.case {
    margin-bottom: 30px;
    padding-top: 20px;
}

.caseNumberLeft, .caseNumberRight {
    width: 35%;
    position: absolute;
    /* padding-bottom: 200px; */
    left: 10%;
}

.caseMan {
    width: 20%;
}

.solution {
    width: 100%;
}

.case div {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.caseDetail {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.caseDetail h3 {
    width: 80%;
    font-size: 16px;
    color: #bb0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caseDetail h3, .case div p {
    text-align: left;
}

.caseLast h3{
    padding-top: 20px;
}

.underBg {
    margin-top: 120px;
    background-size: 100%;
}

.price {
    height: 200%;
    background-image: url(./spImg/priceBg.png);
    background-repeat: no-repeat;
    background-position: center 5px;
    background-size: 100%;
    padding-bottom: 32%;
}

.price img {
    width: 100%;
    margin-top: -80px;
}

.price p {
    color: #ffffff;
    font-size: 25px;
    padding-top: 10px;
}

.price table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: solid 1px;
    border-color: #A9A9A9;
    width: 90%;
    height: auto;
}

.tableWhite {
    color: #ffffff;
    font-size: 20px;
}

.trHight {
    height: 20%;
    text-align: left;
}

.price table th {
    color: #444444;
    background-color: rgb(238, 238, 238);
    width: 35%;
    font-size: small;
    font-weight: normal;
    padding-left: 10px;
    overflow-wrap: break-word;
}

.listTd {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    overflow-wrap: break-word;
    font-size: small;
}

.tableBlue {
    background-color: #4e84b2;
    text-align: center;
    padding-top: 1px;
    height: 16px;
}

.tableSpace {
    padding: 1%;
}

.correspondenceArea {
    background-image: url(./spImg/areaBgSp.png);
    background-repeat: no-repeat;
    background-position: center 10px;
    width: 100%;
    padding-top: 35%;
    position: bottom;
    margin-top: -180px;
}

.correspondenceAreaTitle {
    width: 90%;
}

.correspondenceArea p {
    margin: 0 auto;
    line-height: 2em;
    padding-top: 10px;
    width: 80%;
    overflow-wrap: break-word;
    font-size: 20px;
    padding-bottom: 20px;
}

.partner {
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    /* padding-bottom: 100px; */
    color: #ffffff;
    padding-bottom: 100px;
}

.partner p {
    font-size: 18px;
    padding-bottom: 30px;
    font-weight: bold;
}

.partner img {
    width: 90%;
}
.partnerList {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}

.partnerList ul {
    list-style: none;
    line-height: 2rem;
}

.contact {
    width: 100%;
    /* position: absolute; */
}

.contactBox {
    width: 90%;
    margin: 0 auto;
    background-color: #CBCACA;
    margin-top: -80px;
    padding-top: 10%;
    border-radius: 10px;
    padding-bottom: 10%;
    position: absolute;
    left: 5%;
}

.contactBox img {
    width: 70%;
}

.contactBox a {
    padding-bottom: 100px;
}

footer {
    background-color: #fff;
    bottom: 0;
    padding-top: 50%;
}

.sns {
    width: 100%;
    padding-bottom: 30px;
}

.snsBox {
    display: flex;
    justify-content: center;
}

.snsBox a img {
    width: 90%;
}

.advertisement {
    width: 100%;
}

.advertisementTable li a img{
    width: 70%;
    padding-bottom: 20px;
}
.left2Padding a img, .recruit a img, .leftPadding a img {
    padding-left: 12px;
}

.footerCompany {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    justify-content: center;
    background-image: url(./bg/bg1.png);
}

.footerLogo a img {
    width: 70%;
}

.footerAddress {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footerAddress ul{
    list-style: none;
    padding-left: 40px;
    color: #444444;
    font-style: normal;
    margin-top: 15px;
    text-align: left;
}

.tel-link-none {
    pointer-events: none;
}


.copy {
    text-align: center;
    color: #444444;
    padding-bottom: 30px;
}

/* アニメーションの記述 */

.fadeIn{
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    opacity: 0;
}

.fadeIn.active{
    opacity: 1;

}

.fadeIn-left{
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
}
.fadeIn-left.active{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}


.fadeIn-right{
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
}
.fadeIn-right.active{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
